@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--p-font-family);
  background-color: var(--p-surface-ground);
  color: var(--p-text-color);
  -webkit-font-smoothing: antialiased;
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: var(--p-text-muted-color);
}
